.filler_container {
    width: 100vw;
    height: 40vh;
    background-image: url("https://media.giphy.com/media/xT9IgC2RzpbE7vBZ6M/giphy.gif");
    background-position: center;
    background-size: cover;
    box-shadow: inset 1px 0px 20px 20px white;
}